/ideas.md
/backup/stash/*
/backup/Units/dcache/*
/backup/Units/defines.v
/backup/Units/BTB.v
/backup/versionA/*
/backup/versionB/*
/doc/report.aux
/doc/report.log
/doc/report.out
/doc/report.synctex.gz
/doc/report.pdf