/ideas.md
/backup/stash/*
/backup/Units/defines.v
/backup/versionA/*
/backup/versionB/*
/backup/Units/cpu_with_dcache.v
/doc/*.nav
/doc/*.toc
/doc/*.snm
/doc/*.aux
/doc/*.log
/doc/*.out
/doc/*.synctex.gz
/doc/*.pptx
/src/dcache_bk.v
/src/test.data